.kol {
    background: url(https://s2.uupload.ir/files/photo2_vl1.jpg);
    
    
    }
    .chatbox {
        height: 150vh;
    margin-top: 10%;
    background:  linear-gradient(253deg , rgba(16, 7, 47,0.9)  , rgba(17, 8, 48,0.9) ) , url(https://s2.uupload.ir/files/photo3_a733.jpg) 0px 0px/cover ;
    height: 150%;
    
    color: bisque;  
    
    margin-left: 9%;
    margin-right: 7.55%;
    }
    .wellcome {
        text-align: center;
        color: azure;
    }
    
    .me {
        
        font-family: Vazirmatn;
        background-color:tan;
        width: fit-content;
        text-align: right;
        margin-left:auto;
        color: black;
        font-size: 20px;
    
        
    }
    
    .client {
        width:fit-content;
        background-color: darkcyan;
        text-align: left;
        font-family: Vazirmatn;
        color: black;
        font-size: 20px;
        
    }
    .input {
        width:   calc(94% - 7.5vw - 65px ) ;
        text-align: right;
        margin-right: 6%;
        
    }
    .buttonn {
        width: fit-content;
    margin-left: 31.5%;
    }
    .send {
        margin-left: 7.5vw;
        width: 48px;
        display:inline-flexbox;
       
    }
    @media( 700px<width<=900PX){
        .buttonn {
        width: fit-content;
    margin-left: 31%;
    
    
    }
       
    }
    @media( 500px<width<=700PX){
        .buttonn {
        width: fit-content;
    margin-left: 29%;
    
    
    }
       
    }
    @media( 400px<width<=500PX){
        .buttonn {
        width: fit-content;
    margin-left: 26%;
    
    
    }
       
    }
    @media( 342px<width<=400PX){
        .buttonn {
        width: fit-content;
    margin-left: 24%;
    
    
    }
       
    }
    @media( 300px<=width<=342PX){
        .buttonn {
        width: fit-content;
    margin-left: 23%;
    
    
    }
       
    }